#myCanvas {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: auto;
	height: 100%
}

#myCanvasContainer {
	position: relative;
	height: 100%;
	width: 100%
  }

  #myCanvasContainer li a {
	font-size: 30px;
	font-family: font-file-82132
  }